
.Main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    section {
        border: 2px solid red;
        margin: 0 20px;
        height: 600px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            font-weight: bold;
            background-color: rebeccapurple;
        }
    }
}