$font-stack: Helvetica, sans-serif;
$primary-color: #333;

.App {
  margin: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  
}

.App main {
  flex-grow: 1;

}
