@import '../../App.scss';


.Rockets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 600px; 
    text-align: center;
    font-size: 10px;
} a {
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;

} 

.Rockets img {
    height: 320px;
    width: 320px;
    margin: 10px;
    border-radius: 10px;
}

.Rockets p {
    font-size: 2rem;
}

