@import "../../App.scss";

.Crew {
  font-style: $font-stack;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
 
}  

.Crew h2 {
  // padding: 0 10px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 2rem;
} 

.Crew p {
  margin: 10px;
  font-size: 1.5rem;
}

.Crew img {
  height: 500px;
  width: 600px;
  margin: 10px;
  border-radius: 10px;
  
}