
.Nav {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.Nav > ul {
    list-style: none;
    display: flex;
    
}

.Nav ul:first-child {
    display: flex;
    justify-content: flex-start;
    color: red;
    float: left;
}

.Nav > ul li {
    padding: 0 10px;
}

.Nav a {
    text-decoration: none;
    color: white;
}